<h1>EJEMPLO LIBRE</h1>

<form [formGroup]="libre" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input formControlName="nombre" class="form-control" type="text" placeholder="Nombre">
  </div>
  <div class="form-group">
    <label for="apellido">Apellido</label>
    <input formControlName="apellido" class="form-control" type="text" placeholder="Apellido">
  </div>
  <div class="form-group">
    <label for="dni">DNI</label>
    <input formControlName="dni" class="form-control" type="number" placeholder="DNI">
  </div>
  <button type="submit" class="btn btn-primary mt-3">Enviar</button>
</form>
<br>
<br>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">DNI</th>
    </tr>
  </thead>
  <tbody *ngFor="let obj of data; let i = index">
    <tr>
      <th scope="row">{{i}}</th>
      <td>{{obj.nombre.value}}</td>
      <td>{{obj.apellido.value}}</td>
      <td>{{obj.dni.value}}</td>
    </tr>
  </tbody>
</table>