<h1>FORMULARIO 02</h1>

<form [formGroup]="formulario02" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="codigo">Codigo</label>
    <input formControlName="codigo" class="form-control" type="text" placeholder="Ingrese su Codigo">
  </div>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input formControlName="nombre" class="form-control" type="text" placeholder="Ingrese su Nombre">
  </div>
  <div class="form-group">
    <label for="precio">Precio</label>
    <input formControlName="precio" class="form-control" type="number" placeholder="Ingrese el Precio">
  </div>
  <div class="form-group">
    <label for="cantidad">Cantidad</label>
    <input formControlName="cantidad" class="form-control" type="number" placeholder="Ingrese la Cantidad">
  </div>
  <button type="submit" class="btn btn-primary mt-3">Enviar</button>
</form>

<div>
  {{datos}}
</div>